:root {
  --mainColor: red;
  --bodyColor: #333;
  --linkColor: #1b98f8;
}

.header {
  color: var(--mainColor);
}
html {
  background: url(src/resources/img/light_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

top {
}

middle {
}

bottom {
}
