:root {
  --mainColor: red;
  --bodyColor: #333;
  --linkColor: #1b98f8;
}

.header {
  color: var(--mainColor);
}

top {
  display:flex;
  align-content: space-between;
}

middle {
  display:flex;
  align-content: space-between;

}

bottom {
  display:flex;
  align-content: space-between;
}

body {
  color: var(--bodyColor);
}

a {
  text-decoration: none;
  color: var(--linkColor);
}
